<!DOCTYPE HTML>
<html>
<head>
    <link href="/jsoneditor/app.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/jsoneditor/jsoneditor-min.css">
    <script type="text/javascript" src="/jsoneditor/jsoneditor-min.js"></script>

    <script type="text/javascript" src="/jsoneditor/notify.js"></script>
    <script type="text/javascript" src="/jsoneditor/splitter.js"></script>
    <script type="text/javascript" src="/jsoneditor/app.js"></script>

    <script type="text/javascript" src="/jsoneditor/lib/jsonlint/jsonlint.js"></script>
    <script type="text/javascript" src="/jsoneditor/lib/ace/ace.js"></script>
    <script type="text/javascript" src="/jsoneditor/lib/ace/mode-json.js"></script>
    <script type="text/javascript" src="/jsoneditor/lib/ace/theme-textmate.js"></script>
    <script type="text/javascript" src="/jsoneditor/lib/ace/theme-jsoneditor.js"></script>

    <script type="text/javascript" src="/js/httpReq.js"></script>

    <style type="text/css">
        div.convert-right {
            background: url('/jsoneditor/img/jsoneditor-icons.png') -0 -48px;
        }
        div.convert-left {
            background: url('/jsoneditor/img/jsoneditor-icons.png') -24px -48px;
        }
    </style>
</head>
<body>
<div id="auto">

    <div id="contents">

        <div id="codeEditor"></div>

        <div id="splitter">
            <div id="buttons">
                <div>
                    <button id="toTree" class="convert" title="Copy code to tree editor">
                        <div class="convert-right"></div>
                    </button>
                </div>
                <div>
                    <button id="toCode" class="convert" title="Copy tree to code editor">
                        <div class="convert-left"></div>
                    </button>
                </div>

            </div>
            <div id="drag">
            </div>
            <div>
                <button type="button" onclick = "save();">保存</button>
            </div>
        </div>

        <div id="treeEditor"></div>
        <script type="text/javascript" >
            var url = "http://"+location.host;
            httpPost(url+'/getJson','jsonPath=./design/main.json&isDesign=true',function(data) {
                app.load(JSON.parse(data));
                app.resize();
            });

            var jsonClient  = new WebSocket('ws://'+location.hostname+':'+(Number(location.port)+1));
            //socket.binaryType = 'arraybuffer';
            //jsonClient.onopen = onopen;
            jsonClient.onmessage = function(event){
                alert(event.data);
            };

            function save() {
                var data = treeEditor.get();
                var tmp = {
                    type:'saveJson',
                    jsonPath:'./design/main.json',
                    json:JSON.stringify(data)
                }
                jsonClient.send(JSON.stringify(tmp));
            }
            jsonClient.onerror = function(event) {
                console.error(event);
                alert('jsonClient断开连接.');
            };
            jsonClient.onclose = function(event){
                console.error(event);
                alert('jsonClient断开连接.');
            };
            /*
            function save() {
                var data = treeEditor.get();
                httpPost(url+'/saveJson','jsonPath=./design/main.json&json='+JSON.stringify(data),function(data){
                    alert(data);
                });
            }*/
        </script>
    </div>
</div>

<script type="text/javascript">
    app.resize();
</script>
</body>
</html>
